.match {
    margin-top: 2rem !important; 
    padding: 10px;
    width: 80%;
    margin: auto;
    font-size: 10px;
  }
  
  .player-champ {
    width: 70px;
    height: 70px;
  }
  
  .victory {
    background-color: rgba(97, 139, 231, 0.788);
  }
  
  .defeat {
    background-color: rgba(247, 118, 118, 0.842)
  }
  
  .ss-icon {
    width: 35px;
    height: 35px;
  }
  
  .item-icon {
    width: 25px;
    height: 25px;
  }
  
  .ally-icon {
    width: 20px;
    height: 20px;
  }
  
  .enemy-team {
    display: none !important;
  }

  .ally-team {
    display: none !important;
  }

  @media (min-width: 600px) {
      .ally-team {
        display: flex !important;
      }
  }

  @media (min-width: 720px) {
    .enemy-team {
        display: flex !important;
      }
  }

  @media (min-width: 920px) {
    .match {
        font-size: 18px;
    }
  }

  @media (min-width: 1200px) {
    .match {
        width: 65%;
    }
  }

  @media (min-width: 1400px) {
    .match {
        width: 55%;
    }
  }

  @media (min-width: 1800px) {
    .match {
        width: 45%;
    }
  }