.match {
    margin-top: 2rem !important; 
    padding: 10px;
    width: auto;
    margin: auto;
    font-size: 10px;
    transform: 'scale(.5)';
  }
  
  .vertical-stack {
    display:flex;
    flex-direction: column;
}

  .main-champ {
    width: 70px;
    height: 70px;
  }
  
  .victory {
    background-color: rgba(94, 155, 206, 0.521);
  }
  
  .victory:hover {
    background-color: rgba(74, 106, 175, 0.788);
  }

  .defeat {
    background-color: rgba(230, 135, 135, 0.842)
  }
  
  .defeat:hover {
    background-color: rgba(187, 98, 98, 0.842)
  }

  .loading-circle {
    margin-top: 25%;
  }
  
  .ss-icon {
    width: 35px;
    height: 35px;
  }
  
  .item-icon {
    width: 25px;
    height: 25px;
    margin-right: 1px;
  }
  
  .ally-icon {
    width: 20px;
    height: 20px;
  }
  
  .enemy-team {
    display: none !important;
  }

  .ally-team {
    display: none !important;
  }

  .bg {
    background-color: rgba(75, 27, 15, 0.664);
  }

  @media (min-width: 600px) {
      .ally-team {
        display: flex !important;
      }
  }

  @media (min-width: 720px) {
    .enemy-team {
        display: flex !important;
      }

    .match {
      width: 95%;
    }
  }

  @media (min-width: 920px) {
    .match {
        font-size: 18px;
        width: 90%;
    }
  }

  @media (min-width: 1200px) {
    .match {
        width: 75%;
    }
  }

  @media (min-width: 1400px) {
    .match {
        width: 65%;
    }
  }

  @media (min-width: 1800px) {
    .match {
        width: 55%;
    }
  }