#summoner-search {
    width: 80%;
}

#form-box {
    width: 100%;
}

.search-btn {
    margin-left: 1em !important;
  }
  
  .search-box {
    width: 35%;
    margin-top: 20%;
    margin-left: 30%;
  }
  
  .search-btn, #summoner-search {
    border-radius: 20px !important;
  }